.capitulos{
  font-family: 'Jockey One', sans-serif;
  h6{
    font-size: 20px;
  }
}

.sinopsis{
  background-color: rgba(0, 0, 0, 0.801);
}

.capitulos-anime{
  overflow-y: scroll;
  height: 550px;
}

.reproductor{
  border-radius: 10px;
}

.info-anime{
  background: rgb(7, 7, 7);
  font-family: 'Carter One', cursive;
  padding: 30px;
}